.page-footer {
	padding-top: 0.9rem;
	padding-bottom: 0.9rem;
	border-top: 1px solid #eee;
}

.gray {
	color: #495057;
}

.glow {
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-name: pulse;
}

@keyframes pulse
{
	0% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	50% {
		-webkit-transform: scale(.8);
		transform: scale(.8);
	}
	100% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

.pd2-t {
	padding-top: 1rem;
}
