.my-page-header {
	padding-bottom: 9px;
	margin: 40px 0 20px 20px;
	border-bottom: 1px solid #eee;
	text-align: left;
}

.header-title {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: .025em;
	margin: 0 0.5rem;
}
